Code from 5th class on python after orientation by LUMS course - Data Science 
and Machine Learning Using Python

**Dictionaries in Python**

Use the index() method on countries to find the index of 'germany'. Store this index as ind_ger.
Use ind_ger to access the capital of Germany from the capitals list. Print it out.

In [1]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

In [2]:
countries.index("germany")

2

In [3]:
ind_ger=countries.index("germany")

capitals[ind_ger]

'berlin'

In [4]:
# Example: Creating a dictionary Dist from two list keys and values and printing the data type of Dist
#creating keys and values
keys = ['name', 'age', 'food']
values = ['Monty', 42, 'hotdog']
#creating a dictionary - Dist
Dist={'name':'Monty', 'age':42,'food':' hotdog'}
print(Dist)
#print data type
print(type(Dist))

{'name': 'Monty', 'age': 42, 'food': ' hotdog'}
<class 'dict'>

**Task** Using countries and capitals lists, create a dictionary called europe with 4 key:value
pairs.

In [5]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary Europe
europe = { 'spain':'madrid', 'france':'paris','germany':'berlin', 'norway':'oslo'}
# Print Europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [6]:
# Get name from the Dict dictionary
#using a dictionary
Dict={'name': 'Monty', 'age': 42, 'food': 'hotdog'}
#print out name
print(Dict['name'])

Monty

Check out which keys are in europe by calling the keys() method on europe. Print out
the result.

In [7]:
print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway'])

Print out the value that belongs to the key 'norway‘ from your dictionary.

In [8]:
print(europe['norway'])

oslo

**Dictionary Manipulation - Addition**

In [9]:
#  add a new value to a dictionary
#creating a dictionary - Dist
Dist={'name':'Monty', 'age':42,'food':
' hotdog'}
Dist['height']= 6.1
print(Dist)

{'name': 'Monty', 'age': 42, 'food': ' hotdog', 'height': 6.1}

**Task** Add the key 'italy' with the value 'rome' to europe and print out europe.

In [10]:
# dictionary Europe
europe = { 'spain':'madrid', 'france':'paris','germany':'berlin', 'norway':'oslo' }
# Print Europe
print(europe)
#Add the key 'italy' with the value 'rome' to europe.
europe['italy']= 'rome'
# Print Europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome'}

**Task:** Add these two key:value pairs to europe: 'poland‘ 'warsaw & 'iceland' 'reykjavik’.
Print out europe

In [11]:
europe["poland"]="warsaw"
europe["iceland"]="reykjavik"
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw', 'iceland': 'reykjavik'}

Add another two key:value pairs to europe: 'australia':'vienna' & 'germany'
:'bonn'.

In [12]:
#Add the key australia with the value vienna' to europe.
europe['australia']= 'vienna'
#update the value of germany
europe['germany']= 'bonn'
# Print Europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw', 'iceland': 'reykjavik', 'australia': 'vienna'}

**Dictionary Manipulation - Updating**

Can you clean up?
Remember if a key already exists, then the value will be overwritten.

In [13]:
# europe dictionary
europe = {'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome', 'iceland': 'reykjavik', 'poland': 'warsaw',
'australia': 'vienna'}

In [14]:
europe["germany"]="berlin"
europe

{'australia': 'vienna',
 'france': 'paris',
 'germany': 'berlin',
 'iceland': 'reykjavik',
 'italy': 'rome',
 'norway': 'oslo',
 'poland': 'warsaw',
 'spain': 'madrid'}

**Dictionary Manipulation - Deletion**

◼ Just like updating you can also delete values to a dictionary.
◼ To delete a key, value pair in a dictionary, you can use the del method.
◼ Syntax: del(dictName[‘key’])

1. Delete the Key Australia and add Austria with the Capital Vienna ?

In [15]:
del(europe["australia"])
europe

{'france': 'paris',
 'germany': 'berlin',
 'iceland': 'reykjavik',
 'italy': 'rome',
 'norway': 'oslo',
 'poland': 'warsaw',
 'spain': 'madrid'}

**Nested Dictionary**

◼ In Python, a nested dictionary is a dictionary inside a dictionary.
◼ It's a collection of dictionaries into one single dictionary.
◼ A Nested dictionary can be created by placing the comma-separated dictionaries enclosed within braces {}.
Syntax: nested_dict = { 'dict1': {'key_A': 'value_A'},
'dict2': {'key_B': 'value_B'}}

In [19]:
# Example: Creating a dictionary of people within a dictionary
#creating an individual dictionary
pep1={'name': 'John', 'age': '27', 'sex': 'Male'}
pep2={'name': 'Marie', 'age': '22', 'sex': 'Female'}
#creating a dictionary of people using pep1 &pep2
people = {'pep1': {'name': 'John', 'age': '27', 'sex': 'Male'},
'pep2': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
#print people
print(people)

{'pep1': {'name': 'John', 'age': '27', 'sex': 'Male'}, 'pep2': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [21]:
# Create a dictionary of dictionaries europe using the dictionaries of individual countries.
# Use the following data for this task:
spain={ 'capital':'madrid', 'population':46.77 }
france= { 'capital':'paris', 'population':66.03 }
germany= { 'capital':'berlin', 'population':80.62 }
norway ={ 'capital':'oslo', 'population':5.084 }

europe={'spain':spain, 'france':france, 'germany':germany, 'norway':norway}
europe

{'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.62},
 'norway': {'capital': 'oslo', 'population': 5.084},
 'spain': {'capital': 'madrid', 'population': 46.77}}

**Accessing a Nested Dictionary**

◼ To access nested dictionary elements, you can use the familiar square brackets along with the key to obtain its
value.
Syntax: dictionaryName[‘key’][‘key’]

In [22]:
# Get John from the Nested dictionary
#using a dictionary
people = {'pep1': {'name': 'John', 'age': '27', 'sex': 'Male'},
'pep2': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
#print out name
print(people['pep1']['name'])

John

**Task:** Use your nested dictionary europe to fetch the population for Spain.

In [23]:
europe['spain']['population']

46.77

**Task**: Print out the capital of France.

In [24]:
europe['france']['capital']

'paris'

Create a dictionary, named data, with the keys 'capital' and 'population'. Set them to
'rome' and 59.83, respectively.
Add a new key-value pair to europe; the key is 'italy' and the value is data, print the
dictionary you just built.

In [26]:
data={'capital':'rome', 'population':59.83}
europe

{'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.62},
 'norway': {'capital': 'oslo', 'population': 5.084},
 'spain': {'capital': 'madrid', 'population': 46.77}}

In [27]:
europe['italy']=data
europe

{'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.62},
 'italy': {'capital': 'rome', 'population': 59.83},
 'norway': {'capital': 'oslo', 'population': 5.084},
 'spain': {'capital': 'madrid', 'population': 46.77}}